body::-webkit-scrollbar {
  display: none;
}

.shadow-hero {
  box-shadow: -1px -1px 400px 11vw rgba(178, 0, 214, 0.3);
  -webkit-box-shadow: -1px -1px 400px 11vw rgba(178, 0, 214, 0.3);
  -moz-box-shadow: -1px -1px 400px 11vw rgba(178, 0, 214, 0.3);
}

.active {
  @apply backdrop-blur-xl bg-purple-100 dark:bg-[rgba(255,255,255,0.2)] rounded;
}

.mobile-menu {
      display: none;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
}
  
.mobile-menu.open {     
      max-height: 500px;
      background-color: white;
}

